<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout/layout_admin">
<head>
<meta charset="UTF-8">
<title>博客详情</title>

</head>
<body>
	<div layout:fragment="content">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					<article>
						<h1 th:text="${blog.title}"></h1>
						<small class="text-muted">
							<i class="fa fa-calendar-o" th:text="${'&nbsp;发表于&nbsp;'+#dates.format(blog.createTime, 'yyyy-MM-dd')}"></i>
							&nbsp;|&nbsp;
							<i class="fa fa-folder-o" th:text="'&nbsp;分类于&nbsp;'+${blog.category.name}"></i>
							&nbsp;|&nbsp;
							<i class="fa fa-eye" th:text="'&nbsp;阅读数&nbsp;'+${blog.readSize}"></i>
							&nbsp;|&nbsp;
							<i class="fa fa-comment-o" th:text="'&nbsp;评论数&nbsp;'+${blog.commentSize}"></i>
						</small>
						<div id="doc-content" >
						 <textarea style="display: none;" th:utext="${blog.content}"></textarea>
						</div>
					</article>
				</div>
				<div class="col-md-3">bbbbbbb</div>
			</div>
		</div>
	</div>

	<div layout:fragment="js" th:remove="tag">
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/marked.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/prettify.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/raphael.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/underscore.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/sequence-diagram.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/flowchart.min.js"></script>
		<script src="https://mysite.bj.bcebos.com/blog/lib/editor.md/lib/jquery.flowchart.min.js"></script>
		<script type="text/javascript">
		var testEditor;
	    $(function() {
	        testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
	            htmlDecode : "style,script,iframe",
	            emoji : true,
	            taskList : true,
	            tex : true, // 默认不解析
	            flowChart : true, // 默认不解析
	            sequenceDiagram : true, // 默认不解析
	            codeFold : true
	        });
	    });
		</script>
	</div>
</body>

</html>