<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">博客管理</title>
<!-- CSRF -->
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- css styles -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/layer/3.1.0/theme/default/layer.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/all.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet">
<link href="/lib/editor.md/css/editormd.min.css" rel="stylesheet">
<link href="/css/admin.css" rel="stylesheet">
</head>
<body>
	<!-- navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin">管理后台</a>
			</div>
			<!-- <div class="navbar-collapse collapse" th:if="${#authorization.expression('isAuthenticated()')}"> -->
			<div class="navbar-collapse collapse" id="collapsibleNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
							博客首页
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a th:href="@{admin/create}">新建文章</a>
							</li>
						</ul>
					</li>
					<li th:classappend="${module == 'categoryManage' ? 'active' : ''}">
						<a href="#" th:href="@{/task}">分类管理</a>
					</li>
					<li>
						<a href="#" th:href="@{/task}">站长统计</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							&nbsp;配置
						</a>
					</li>
					<li>
						<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
							<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
							&nbsp;注销
						</a>
						<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
					</li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="搜索...">
				</form>
			</div>
		</div>
	</div>
	<!-- content -->
	<div class="container" layout:fragment="content"></div>
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<p class="text-muted">© 2018 lancel0t.cn</p>
		</div>
	</footer>
	<!-- javascripts -->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
	<script src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>
	<script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/select2.min.js"></script>
	<script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/i18n/zh-CN.js"></script>
	<script src="https://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
	<script src="/lib/editor.md/editormd.min.js"></script>
	<!-- other js owned by page -->
	<script layout:fragment="js"></script>
</body>
</html>