<div ng-controller="archivesController" class="container my-1 content">
	<div class="row">
		<!-- 主内容区域 -->
		<div class="col-md-9">
			<div class="post border my-2">
				<!-- breadcrumb -->
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<i class="fa fa-home">
							<a href="/">&nbsp;首页</a>
						</i>
					</li>
					<li class="breadcrumb-item">
						<a ui-sref="archives({id:null,name:null})">全部归档</a>
					</li>
					<li class="breadcrumb-item active" ng-if="archivename">{{archivename}}</li>
				</ul>
				<!-- 博客列表 -->
				<my-bloglist articles="blogs"></my-bloglist>
			</div>
			<!-- 分页控件 -->
			<div class="p-2">
				<my-pagination conf="paginationConf"></my-pagination>
			</div>
		</div>
		<!-- 侧边栏 -->
		<div class="col-md-3 mt-5 wow fadeInDown">
			<div class="timeline" ng-repeat="archive in archives">
				<div class="timenode" ng-class="{'active':archiveid==archive.id}"></div>
				<a ui-sref="archives({id:archive.id,name:archive.name})" ng-class="{'active':archiveid==archive.id}"
				   data-icon="✿" class="button blue skew xs">{{archive.name}}({{archive.blogSize}})</a>
			</div>
		</div>
	</div>
</div>