<!-- article -->
<div>
	<div class="text-center"
		ng-if="articles.length==null||articles.length==0">正在加载...</div>
	<div class="media blog" ng-repeat="article in articles"
		ng-mouseenter="showAnimate=true;" ng-mouseleave="showAnimate=false;">
		<!-- 图片 -->
		<div class="resizeImg hidden-sm-down">
			<a ui-sref="posts({id:article.id})" title="详细阅读：{{article.title}}">
				<img class="mr-3"
				ng-src="//mysite.bj.bcebos.com/blog/images/it/{{article.image}}"
				ng-class="{'increaseSize':showAnimate==true}" alt="...">
			</a>
		</div>
		<!-- 内容 -->
		<div class="media-body blog-title">
			<h6 class="mt-0">
				<a class="hvr-wobble-top" ui-sref="posts({id:article.id})"
					title="详细阅读：{{article.title}}"><span ng-if="article.isSticky" class="colorful">[ 置顶 ] </span>{{article.title}}</a>
			</h6>
			<div class="blog-summary">{{article.summary}}</div>
			<div class="blog-readmore">
				<div class="pull-left">
					<i class="fa fa-clock-o"></i> {{article.createTime |
					date:'yyyy-MM-dd'}} <i class="fa fa-eye ml-3"></i>
					{{article.readSize}} <i class="fa fa-comment-o ml-3"></i>
					{{article.commentSize}}
				</div>
				<div class="pull-right">
					<a ui-sref="posts({id:article.id})" class="hvr-icon-forward"
						title="详细阅读：{{article.title}}"> [ 阅读更多 ]</a>
				</div>
			</div>
		</div>
	</div>
</div>
