<ul class="pagination justify-content-center">
	<li class="page-item page-pre">
		<a class="page-link" ng-if="p_pageNum>0" href="" ng-click="p_pre()">&lt;</a>
	</li>
	<li class="page-item" ng-repeat="page in p_pages track by $index" ng-class="{'active':p_current==page,'disabled':(page=='...')}">
		<a class="page-link" ng-if="page=='...'">{{page}}</a>
		<a class="page-link" ng-if="page!='...'" href="" ng-click="pageClick(page)">{{page}}</a>
	</li>
	<li class="page-item page-next">
		<a class="page-link" ng-if="p_pageNum>0" href="" ng-click="p_next()">&gt;</a>
	</li>
</ul>